.button-chip {
  --primary-color: #324bff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  border: thin solid;
  border-radius: 999px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  max-height: 2.6rem;

  &:hover {
    font-weight: bold;
    border: 2px solid;
  }

  &--danger {
    color: red;
    border-color: red;
    background-color: white;
  }

  &--outlined {
    background-color: white;
    color: var(--primary-color);
  }
}
