.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.text-card {
  max-width: 50rem;

  &__add,
  &__delete {
    width: 7rem;
  }

  &__undo {
    width: 2.5rem;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;

    &__left-actions {
      display: flex;
      gap: 1rem;
    }
  }
}
