*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: "Montserrat Variable", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.25rem;
  background: radial-gradient(circle, #a1c4fd 0%, #c2e9fb 100%);
}
