.undo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100dvh;
  background: rgb(224, 255, 255, 0.5);
  animation: fade-in 200ms ease-out;

  &__card {
    animation: slide-in 250ms ease-out;
  }

  &--closing {
    animation: fade-out 200ms ease-in forwards;

    .undo-list__card {
      animation: slide-out 200ms ease-in forwards;
    }
  }
}
